//
//  release.xcconfig
//
//  Created by Chon, Felix | Felix | MESD on 2022/11/08.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// It is a good idea to store these values in remotely (i.e Firebase) and in more secure places
API_BASEURL = "api.github.com"
GET_OWNER_INFO_PATH = "/users/:owner"
GET_OWNER_REPO_INFO_PATH = "/users/:owner/repos"
// crediential
TOKEN = "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"
API_RETRY_COUNT = 1
API_TIMEOUT_IN_SECS = 10.0
